
body {
    background: url(https://image.ibb.co/bG1hBS/image.png);
    background-color: #000000;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6, p {
    color: rgba(231, 231, 228, 0.856);
}

a {
    color: purple;
}

.h-back {
    background-color: #00000050;
}

.profile .text{
    border-bottom: 2px solid #bbb;
}

.profile h1 {
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid #bbb;
    font-size: 1.5em;
}

.profile img {
    width: 120px;
    height: 120px;
    padding: 5px;
    border: 2px solid #bbb;
    transition: 0.3s;
}

.profile img:hover {
    opacity: 0.5;
    cursor: pointer;
}

