
body {
    background: url(https://image.ibb.co/bG1hBS/image.png);
    background-color: #000000;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6, p {
    color: rgba(231, 231, 228, 0.623);
}

p {
    font-size: 1em;
}

a {
    color: purple;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #151920; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.h-back {
    background-color: #00000050;
    display: block;
    text-align: center;
}

.h-back form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.h-back form input {
    color: rgba(240, 248, 255, 0.651);
    background-color: transparent;
    border-color: #0D1016;
    border-radius: 0;
    border: 2px solid rgba(187, 187, 187, 0.699);
    outline: none;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.h-back form input:focus {
    color: rgba(240, 248, 255, 0.651);
    background-color: transparent;
    border-color: #0D1016;
    border: 2px solid rgba(187, 187, 187, 0.849);
    outline: #151920;
}

.h-back form button {
    margin-top: -1px;
    color: rgba(240, 248, 255, 0.651);
    background-color: transparent;
    border-color: #0D1016;
    border-radius: 0;
    border: 2px solid rgba(187, 187, 187, 0.699);
  
}

.h-back form button:hover {
    color: rgba(240, 248, 255, 0.651);
    background-color: transparent;
    border-color: #0D1016;
    border-radius: 0;
    border: 2px solid rgba(187, 187, 187, 0.699);

}

button:focus {

    box-shadow: none;
}

.profile .text{
    border-bottom: 2px solid #bbb;
}

.profile h1 {
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid #bbb;
    font-size: 1.5em;
}

.profile img {
    width: 120px;
    height: 120px;
    padding: 5px;
    border: 2px solid #bbb;
    transition: 0.3s;
}

.profile img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.scrollable-content {
    height: 65vh;
    overflow: auto;
    overflow-x: hidden;
    background-color: #0D1016;
  }

  .roww {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .columnn {
    flex: 50%;
    padding: 0 4px;
  }
  
  .columnn img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .cat-profile img {
    width: 300px;
    height: 300px;
    padding: 5px;
    border: 2px solid #bbb;
    transition: 0.3s;
}

.progress {
    background-color: transparent !important;
}

.progress-bar {
    border-bottom: 2px solid rgba(87, 87, 87, 0.363) !important;
}